@model IEnumerable<HotelManagementSystem.Models.Hotel>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center; font-weight:bold" class="mb-4">Hotel Management System</h1>
@*
  <p class="mb-3">
      <a asp-action="Create" class="btn btn-primary">Create New</a>
  </p>
  *@
<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    @foreach (var item in Model)
    {
        <div class="hotel-card" style="flex: 1 1 calc(33.33% - 20px); box-sizing: border-box;">
            <div>
                <img src="/images/Hotel.png" alt="Hotel" style="width: 100%; height: auto;" />
                <div>
                    <b>@Html.DisplayFor(modelItem => item.Name)</b>
                    <p>@Html.DisplayFor(modelItem => item.Status)</p>
                    <p>@Html.DisplayFor(modelItem => item.Stars)<i style="color: yellow" class="fa-solid fa-star"></i></p>
                    <p>@Html.DisplayFor(modelItem => item.City)</p>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                </div>
            </div>
        </div>
    }
</div>

